{% extends "base.html" %}
{% block title %} Blogs {% endblock %}
{% block page_content %}

<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        background-image: linear-gradient(120deg,#ada996,#f2f2f2,#dbdbdb,#eaeaea);
    }
    nav{
        background-image: linear-gradient(180deg,#dbdbdb,#eaeaea,#ada996,#f2f2f2);
        position: relative;
        margin: 10px auto 0;
        width: 565px;
        /* height: 45px; */
        border-radius: 20px;
        font-weight: bold;
    }
</style>

<div class="col-md-8 offset-md-2">
    <h1>Personal Blogs</h1>
    <hr>

    {% for post in posts %}

    <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;

        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        
        {% endfor %}
    </small>
    
    <p style="text-align:justify;">{{ post.body | slice:":400" }}...</p>
    
    {% endfor %}
</div>

{% endblock %}