{% extends "base.html" %}
{% block title %} Project Search {% endblock %}
{% load static %}

{% block page_content %}

<center>

    {% if searched %}

    <h1>Tu busqueda fue por: {{searched}}</h1><br />

    {% for project in projects %}

    <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">
        <strong>Leer mas:</strong>
        <h6 style="color: #2ecc71">{{ project }}</h6>
    </a>&nbsp;

    {% endfor %}

    {% else %}

    <a href="{% url 'project_index' %}">&#x2190; <strong>Regresar</strong></a><br /><br />
    <h1>Hey! Te haz olvidado de realizar la busqueda de algún proyecto...</h1>

    {% endif %}

</center>

{% endblock %}